.DS_Store
node_modules
certs

# local env files
.env
.env.local
.env.*.local

# Log files
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.txt
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
